* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  background: #000;
  width: 100%;
  height: 100vh;
}
.w-fill-available {
  width: -webkit-fill-available;
}
nav a {
  font-size: 18px;
}

.box {
  width: 400px;
  height: 200px;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #2c302f;
  text-align: center;
}

.box:hover {
  background: #e23d5b;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.box .rate {
  font-size: 60px;
  font-weight: 800;
}

.bg-yellow {
  background-image: url("../images/Ellipse.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.digital span {
  font-size: 22px;
  font-weight: 700;
}

.search-icon {
  display: block;
  background: url("../images/10004.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 75px;
  height: 75px;
}

.marketing-icon {
  display: block;
  background: url("../images/10005.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 75px;
  height: 75px;
}

.reporting-icon {
  display: block;
  background: url("../images/10006.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 75px;
  height: 75px;
}

.r-digital {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 215px;
  height: 145px;
  border: 1px solid #454746;
  background: #313332;
}

/* stuides */
.studies {
  .head .studie-d-text {
    max-width: 80%;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 450px;
    width: 100%;
  }

  .img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.94);
    flex: 1;

    &:hover {
      flex: 3;
    }
  }

  .img1 {
    background-image: url("../images/10035.jpg");
  }

  .img2 {
    background-image: url("../images/10036.jpg");
  }

  .img3 {
    background-image: url("../images/10037.jpg");
  }

  .img4 {
    background-image: url("../images/10038.jpg");
  }
}

/* Marketing */

.marketing {
  .mark-heading {
    font-size: 13rem;
    -webkit-text-stroke: 0.8px #ffffff;
    text-align: center;
    color: transparent;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    color: transparent;
    position: absolute;
    top: 0px;
    z-index: 1;
  }

  .seo {
    position: absolute;
    bottom: 78px;
    z-index: 1;
    max-width: 70%;
    right: 9%;

    .heading {
      width: 40%;
      font-weight: 800;
    }

    .mark-action {
      width: 35%;
      p {
        font-weight: 500;
      }
    }
    .btn-action {
      padding: 12px 30px;
      margin-top: 18px;
    }
  }

  .black-cri {
    background: #0f1312;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    top: 170px;
  }

  .girl-img {
    width: 361px;
    height: auto;
    z-index: 1;
  }
}

/* Offers */

.offers {
  .btn-action {
    padding: 12px 30px;
    margin-top: 25px;
  }
}

/* Why Us */

.get-started {
  padding: 12px 30px;
}
/* Pricing */

.package {
  .name {
    width: 40px;
    background: #e7b938;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;

    p {
      transform: rotate(90deg);
    }
  }
  .head {
    display: flex;
    width: -webkit-fill-available;
    align-items: flex-end;
    height: 112px;
    margin-top: 20px;
  }
  .detail {
    margin-top: 18px;
    height: 100%;
  }
  .btn-started {
    border: 1px solid;
    padding: 10px 70px;
    margin-right: 41px;
  }
}
.footer {
  background: url("../images/10039.png");
  background-repeat: no-repeat;
  background-position: center;
  .footer-line {
    height: 2px;
    background: #343635;
  }
}
